<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marcus Razorprojekt</title>

    <!--Stilmall-->
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <header class="m-container">
        <a href=""><img src="images/RazorWebbplatsen.gif" alt="Logo"></a>
        @{
            var date = DateTime.Now; //Läs in tiden just nu
            string dateStr = date.ToString(); //Konvertera till Sträng
            string[] dateArr = dateStr.Split(" "); //Splitta till en array på blanksteg. dateArr[0] = datum, dateArr[1] = tid

        }
        <p id="dateParagraph">Dagens datum är: @dateArr[0]</p>
    </header>
    <div class="container m-container">
        <nav class="m-container">
            <a asp-area="" asp-page="/Index">Start</a>
            <a asp-area="" asp-page="/AboutRazor">Razor</a>
            <a asp-area="" asp-page="/AboutMe">Om mig</a>
        </nav>

        <main class="m-container">
            @RenderBody()
        </main>

        <footer class="m-container">
            <p>Av Marcus Andersson - Kontakta mig via e-post: <a href="mailto:maan2117@student.miun.se">maan2117@student.miun.se</a></p>
        </footer>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>