<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marcus Razorprojekt</title>

    <link rel="stylesheet" href="~/_1._1_Razor.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

    </header>
    <div class="container">
        <nav>
            <a href="#">Start</a>
            <a href="#">Razor</a>
            <a href="#">Om mig</a>
        </nav>

        <main>
            @RenderBody()
        </main>
    </div>

    <footer>

    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>