@page
@model AboutMeModel
@{
}
<h1>Om mig</h1>
<p>Jag som skapat den här webbplatsen heter <strong>Marcus Andersson</strong>, jag är 31 år gammal och är student på Webbutvecklingsprogrammet på MIUN. Jag är intresserad av webbutveckling och arbetar för närvarande i språken C#, JavaScript, PHP, SQL, HTML, & CSS.</p>
<p>När jag inte pluggar så jobbar jag, och när jag väl är ledig så försöker jag få så mycket tid som möjligt med min familj och vänner.</p>
<p>Besök gärna min GitHub-sida: <a href="https://github.com/soderhamn">https://github.com/soderhamn</a></p>