@page
@model IndexModel
@{
    ViewData["Title"] = "Startsidan";
}

<div>
    <h1>Välkommen!</h1>
    <h2>Fakta om tomten</h2>
    <p>Här följer en del fakta om tomten:
        <ul>
            <li>Färg med schackmönster är någonting som tomten inte tagit patent på, däremot har han mönsterskyddat det.</li>
            <li>Tomten är förmodligen av samiskt ursprung eftersom han äger en hel uppsättning renar.</li>
            <li>På tomtens verkstad arbetar massvis med män, men det är oklart huruvida tomten betalar lön till dessa män.</li>
            <li>Tomten klarar av att överleva genom att arbeta en dag om året. Det betyder att han är ekonomiskt oberoende.</li>
        </ul>
    </p>
</div>
