@page
@model IndexModel
@{
    ViewData["Title"] = "Startsidan";
}

<div>
    <h1 id="welcomeEl">Välkommen!</h1>
    <p>Välkommen till startsidan. Just den här sidan innehåller valfritt innehåll.</p>
    <p>De övriga sidorna på den här webbplatsen utgörs av sidan <strong>Razor</strong> och sidan <strong>Om mig</strong>, de innehåller uppgifter lösta med hjälp av Razor respektive information om mig.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde accusamus qui cumque eum, quaerat laborum suscipit. Tenetur, rerum quaerat doloribus id praesentium recusandae consectetur ut iusto, quasi quibusdam voluptate obcaecati!</p>
    <h2>Funderingar kring jultomten</h2>
    <p>Här följer en del funderingar kring tomten:</p>
        <ul>
            <li>Färg med schackmönster är någonting som tomten inte tagit patent på, men har han mönsterskyddat det?</li>
            <li>Är tomten av samiskt ursprung eftersom han äger en hel uppsättning renar?</li>
            <li>På tomtens verkstad arbetar massvis med män, men det är oklart huruvida tomten betalar lön till dessa män?</li>
            <li>Tomten klarar av att överleva genom att arbeta en dag om året. Det måste betyda att han är ekonomiskt oberoende?</li>
        </ul>
    
</div>
