@page
@model IndexModel
@{
    ViewData["Title"] = "Startsidan";
}

<div>
    <h1>Välkommen!</h1>
    <p>Välkommen till startsidan. Just den här sidan innehåller valfritt innehåll, och eftersom innehållet är valfritt, men ändå är tänkt att utgöra meningsfullt innehåll så innehåller den här mycket innehållsrika sidan tankar kring jultomten.</p>
    <p>De övriga sidorna på den här webbplatsen utgörs av sidan <strong>Razor</strong> och sidan <strong>Om mig</strong>, de innehåller uppgifter lösta med hjälp av Razor respektive information om mig.</p>
    <h2>Funderingar kring jultomten</h2>
    <p>Här följer en del funderingar kring tomten:
        <ul>
            <li>Färg med schackmönster är någonting som tomten inte tagit patent på, men har han mönsterskyddat det?</li>
            <li>Är tomten av samiskt ursprung eftersom han äger en hel uppsättning renar?</li>
            <li>På tomtens verkstad arbetar massvis med män, men det är oklart huruvida tomten betalar lön till dessa män?</li>
            <li>Tomten klarar av att överleva genom att arbeta en dag om året. Det måste betyda att han är ekonomiskt oberoende?</li>
        </ul>
    </p>
</div>
